@page
@model WebApp.Pages.Vehiculo.EditModel
@{
}



<div id="AppEdit" class="container" data-entity="@JsonSerializer.Serialize(Model.Entity)">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar" : "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.VehiculoId" />

                <div class="form-group mb-3">
                    <label for="Entity.MarcaVehiculoId" class="form-label">Marca Vehiculo</label>

                    <select asp-for="Entity.MarcaVehiculoId" class="form-select"
                            asp-items="@(new SelectList(Model.MarcaVehiculoLista, "MarcaVehiculoId", "Descripcion"))" required>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Matricula" class="form-label">Matricula</label>
                    <input type="text" class="form-control" asp-for="Entity.Matricula" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Color" class="form-label">Color</label>
                    <input type="text" class="form-control" asp-for="Entity.Color" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.Modelo" class="form-label">Modelo</label>
                    <input type="text" class="form-control" asp-for="Entity.Modelo" maxlength="250" required>
                </div>

                <div class="form-group mb-3">
                    <label for="Entity.FechaModelo" class="form-label">Fecha Modelo</label>
                    <input type="text" class="form-control" asp-for="Entity.FechaModelo" maxlength="250" required>
                </div>

                <div class="form-group form-check form-switch">
                    <label class="form-check-label" for="Entity_TieneDefectos">Defectos? </label>
                    <input type="checkbox" class="form-check-input" asp-for="Entity.TieneDefectos" v-model="Entity.TieneDefectos"
                           v-on:change="RefrescarValidaciones" value="true">

                </div>

                <div v-if="Entity.TieneDefectos" class="form-group mb-3">
                    <label for="Entity.Defectos" class="form-label">Comentarios</label>
                    <textarea class="form-control" rows="2" asp-for="Entity.Defectos" maxlength="1000" required> </textarea>
                </div>

                <div class="form-group form-check form-switch">
                    <input type="checkbox" class="form-check-input" asp-for="Entity.Estado" value="true">
                    <label for="Entity.Estado" class="form-check-label">Estado = Inactivo/Activo</label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script defer src="~/App/Vehiculo/Edit.js"></script>

}
